body, html{
    font-family: Verdana;
    min-height: 100%;
}
.head{
    background: lightgrey;
    height: 70px;
    margin: 5px;
    padding: 20px;
}
.menu{
    background-color: lightgrey;
    height: 50px;
    margin: 5px;
}
.left{
    background: lightgrey;
    min-height: 100%;
}
.contain{
    min-height: 100%;
}
.ul{
    position: relative;
    left: 27.5%;
}
.li{
    display: inline;
}
.height-full{
    height: 100%;
}
.row{
    display: flex; /* cho các phần tử con nổi lên*/
    flex-wrap: wrap; /* không đủ chỗ thì xuống hàng*/
}
@media only screen{
    .col-m-1 {width: 8.33333%;}
    .col-m-2 {width: 16.66667%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33333%;}
    .col-m-5 {width: 41.66667%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33333%;}
    .col-m-8 {width: 66.66667%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33333%;}
    .col-m-11 {width: 91.66667%;}
    .col-m-12 {width: 100%;}
}
.video{
    padding-right: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.bigvd{
    padding-top: 15px;
    padding-left: 30px;
}
img{
    width: 130px;
    height: 80px;
    padding-bottom: 10px;
    position: relative;
    left: 46%;
}